{% assign project = include.project_page %}
<article class="cell project-card">
  <a href="{{ project.url | relative_url }}" class="project-card__link">
    {% assign thumb_image_is_not_empty = project.thumb_image | is_not_empty %}
    {% if thumb_image_is_not_empty %}
    <div class="project-card__image">
      <img src="{{ project.thumb_image | relative_url }}" alt="{{ project.thumb_image_alt }}" />
    </div>
    {% endif %}
    <header class="project-card__header">
      <h3 class="project-card__title">{{ project.title }}</h3>
      {% assign subtitle_is_not_empty = project.subtitle | is_not_empty %}
      {% if subtitle_is_not_empty %}
      <div class="project-card__subtitle">
        {{ project.subtitle }}
      </div>
      {% endif %}
    </header>
  </a>
</article>
