---
layout: body
---

{% assign col_number = page.col_number | default: 'three' %}

<header class="section section--header{% assign hide_title_is_not_empty = page.hide_title | is_not_empty %}{% if hide_title_is_not_empty %} screen-reader-text{% endif %}">
  <div class="container container--lg">
    <h1 class="section__title line-top">{{ page.title }}</h1>
    {% assign subtitle_is_not_empty = page.subtitle | is_not_empty %}
    {% if subtitle_is_not_empty %}
    <p class="section__subtitle">{{ page.subtitle }}</p>
    {% endif %}
  </div>
</header>

<div class="section section--portfolio">
  <div class="container container--lg">
    <div class="grid post-feed post-feed--col-{{ col_number }}">
      {% assign posts_sorted = '/blog' | get_pages | sort: 'date' | reverse %}
      {% for post in posts_sorted %}
      <article class="cell post-card">
        {% assign thumb_image_is_not_empty = post.thumb_image | is_not_empty %}
        {% if thumb_image_is_not_empty %}
        <a class="post-card__image" href="{{ post.url | relative_url }}">
          <img src="{{ post.thumb_image | relative_url }}" alt="{{ post.thumb_image_alt }}" />
        </a>
        {% endif %}
        <header class="post-card__header">
          <h2 class="post-card__title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
          <div class="post-card__meta">
            <time class="published" datetime="{{ post.date | date: '%Y-%m-%d %H:%M' }}">{{ post.date | date: '%B %d, %Y' }}</time>
          </div>
        </header>
        {% assign excerpt_is_not_empty = post.excerpt | is_not_empty %}
        {% if excerpt_is_not_empty %}
        <p class="post-card__body">
          {{ post.excerpt }}
        </p>
        {% endif %}
      </article>
      {% endfor %}
    </div>
  </div>
</div>
