---
layout: body
---

<article class="project">
  <header class="project__header">
    <div class="container container--md">
      <h1 class="project__title line-top">{{ page.title }}</h1>
      {% assign subtitle_is_not_empty = page.subtitle | is_not_empty %}
      {% if subtitle_is_not_empty %}
      <div class="project__subtitle">
        {{ page.subtitle }}
      </div>
      {% endif %}
    </div>
  </header>
  <div class="project__body">
      {% for section in page.sections %}
        
        {% assign component = section.type | append: ".html" %}
        {% include {{ component }} section=section site=site %}
      {% endfor %}
  </div>
</article>

{% assign projects_sorted = '/portfolio' | get_pages | sort: 'date' | reverse %}
{% for project_item in projects_sorted %}
  {% if project_item.url == page.url %}
    {% assign curr_index = forloop.index0 %}
    {% assign next_index = curr_index | plus: 1 %}
    {% assign prev_index = curr_index | minus: 1 %}
    {% assign project_index_length = forloop.length | minus: 1 %}
    {% if project_index_length > 0 %}
    <nav class="section section--portfolio">
      <div class="container container--lg">
        <h2 class="section__title line-top">More Projects</h2>
        <div class="grid portfolio-feed portfolio-feed--tiles">
          {% if curr_index != 0 %}
            {% assign prev_project = projects_sorted[prev_index] %}
            
            {% include portfolio_item.html project_page=prev_project %}
          {% endif %}
          {% if curr_index < project_index_length %}
            {% assign next_project = projects_sorted[next_index] %}
            
            {% include portfolio_item.html project_page=next_project %}
          {% endif %}
        </div>
      </div>
    </nav>
    {% endif %}
  {% endif %}
{% endfor %}
